In [19]:
from __future__ import division
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import scipy.optimize
import pandas.io.sql as psql
import pandas as pd
import sys
import xml.etree.ElementTree as ET

import requests
import re

In [20]:
%run ../../../lib/dwh.py

In [21]:
con=get_DWH()

In [278]:
%run indebtedness.py

In [4]:
%cd  C:\Users\Sean Violante\Documents\Projects\lendico\projects\returns\src

C:\Users\Sean Violante\Documents\Projects\lendico\projects\returns\src

# XML

In [46]:
scoring=psql.read_sql(""" select 
    * 
from backend.scoring_result sr
where sr.dwh_country_id=1 and sr.created_at>'2015-07-07' """,con)

In [260]:

z[0]

10762    [{"status":true,"actual":"retired","expected":...
10763    [{"status":true,"actual":"salaried","expected"...
10764    [{"status":true,"actual":"salaried","expected"...
10765    [{"status":true,"actual":"manual_worker","expe...
10766    [{"status":true,"actual":"retired","expected":...
Name: postcheck_data, dtype: object

In [261]:
import json

In [283]:
z.apply(json_extract,class_name='SchufaIndebtedness')

       actual  expected operator status
10762    6.45        17       <=   True
10763    9.26        15       <=   True
10764   11.26        14       <=   True
10765    4.87        18       <=   True
10766    8.94        20       <=   True
10767   31.16        20       <=  False
10768    4.06        14       <=   True
10769  113.76        16       <=  False
10770     NaN       NaN     None   None
10771   11.15        16       <=   True

In [308]:
scoring.is_latest.unique()

array([0, 1], dtype=int64)

In [286]:
z=pd.DataFrame(loan_requests.postcheck_data[-10:])

In [309]:
loan_requests=psql.read_sql("""
select 
    lr.id_loan_request, 
    lr.loan_request_nr, 
    sr.fk_user,
    sr.id,
    lr.principal_amount,
    ua.net_income,
    uh.postcheck_data
from base.loan_request lr
join base.user_account ua on 
    lr.dwh_country_id=ua.dwh_country_id and
    lr.fk_user=ua.id_user
join backend.loan_request_user_history uh on 
    lr.dwh_country_id=uh.dwh_country_id and
    lr.id_loan_request=uh.fk_loan_request
join backend.scoring_result sr on
    lr.dwh_country_id=sr.dwh_country_id and
    lr.fk_user=sr.fk_user
    
where sr.dwh_country_id=1 and sr.created_at>'2015-07-07'
and sr.is_latest=1
""",con)

In [310]:
indebt=loan_requests.postcheck_data.apply(json_extract,class_name='SchufaIndebtedness')

In [311]:
indebt.rename(columns=lambda x:'indebt:'+x, inplace=True)

In [298]:
z1.columns

Index([u'indebt:actual', u'indebt:expected', u'indebt:operator',
       u'indebt:status'],
      dtype='object')

In [312]:
loan_requests1=pd.concat((loan_requests,indebt), axis=1)

In [318]:
loan_requests1['indebt:actual'].notnull().sum()

135

In [50]:
scoring.columns

Index([    u'dwh_country_id',                 u'id',            u'fk_user',
                  u'request',           u'response',      u'provider_name',
                u'is_failed', u'ignore_for_scoring',              u'score',
       u'data_accessible_by',         u'created_at',         u'updated_at',
              u'dwh_created',  u'dwh_last_modified',       u'dwh_row_hash',
                u'is_latest'],
      dtype='object')

In [ ]:
scoring_ind=scoring.set_index(['dwh_country_id','id'])

In [236]:
scoring.score.head()

0      16
1    9999
2    9999
3    8536
4    9215
Name: score, dtype: object

In [48]:
scoring_ind["response_chk"]=scoring_ind["response"].str[:5]

In [49]:
scoring_ind["response"][(scoring_ind["response_chk"]=='s:17:')].head()

dwh_country_id  id
1               99199    s:17:"ANONYMOUS_REQUEST";
                99230    s:17:"ANONYMOUS_REQUEST";
                99205    s:17:"ANONYMOUS_REQUEST";
                99206    s:17:"ANONYMOUS_REQUEST";
                99200    s:17:"ANONYMOUS_REQUEST";
Name: response, dtype: object

In [52]:
scoring_ind['response_x']=scoring_ind['response'].map(php_strip)
scoring_ind['response_len']=scoring_ind['response_x'].str.len()
scoring_ind['response_root']=scoring_ind['response_x'].map(xml_strip)
scoring_ind['response_merkmale']=scoring_ind['response_root'].map(schufa_parse)
merkmale=pd.concat(scoring_ind['response_merkmale'].values,keys=scoring_ind.index, names=['dwh_country_id','id','record'])
merkmale['Betrag']=merkmale['Betrag'].astype(np.float64) #is string, float to allow NAN
merkmale['Ratenzahl']=merkmale['Ratenzahl'].astype(np.float64)
merkmale['Date']=pd.to_datetime(merkmale.Datum,coerce=True, format='%d.%m.%Y') #pandas has problems with mixed data..need to select only real dates

In [53]:
score_merkmale=scoring[['id_loan_request',u'loan_request_nr',  u'fk_user','id', 
                        'is_failed', u'ignore_for_scoring',u'score', 'created_at' ]].\
merge(merkmale.reset_index(), on='id')

KeyError: "['id_loan_request' u'loan_request_nr'] not in index"

In [18]:
score_merkmale.to_clipboard(encoding='UTF-8')

In [56]:
schufa_parse(xml_strip(scoring_ind['response_x'][3]))

,Beschreibung,Betrag,Betrag_waehrung,Datum,Merkmal_typ,Merkmalcode,Ratenart,Ratenzahl,Merkmal_id
0,Kredit,4669,EUR,23.08.2012,hauptmerkmal,KR,M,48,1
1,Erledigt,NaN,NaN,31.10.2012,erledigungsmerkmal,ER,NaN,NaN,1
2,Kredit,22228,EUR,09.11.2012,hauptmerkmal,KR,M,84,2
3,Erledigt,NaN,NaN,11.09.2014,erledigungsmerkmal,ER,NaN,NaN,2
4,Kredit,5364,EUR,01.09.2014,hauptmerkmal,KR,M,69,3
5,Kredit,27197,EUR,01.10.2014,hauptmerkmal,KR,M,84,4
6,Girokonto,NaN,NaN,NaN,hauptmerkmal,GI,NaN,NaN,5
7,Kreditkarte,NaN,NaN,12.08.2013,hauptmerkmal,CC,NaN,NaN,6
8,Kreditkarte mit Kreditrahmen,2300,EUR,15.04.2014,hauptmerkmal,CR,NaN,NaN,7

In [179]:
merkmale.columns

Index([u'Beschreibung', u'Betrag', u'Betrag_waehrung', u'Datum',
       u'Kontonummer', u'Merkmal_eigenesMerkmal', u'Merkmal_id',
       u'Merkmal_merkmalOhneGeburtsdatum', u'Merkmal_typ', u'Merkmalcode',
       u'Ratenart', u'Ratenzahl', u'not_creditworthy', u'not_creditworthy_US',
       u'not_creditworthy_KRMLKWKX_US', u'Date'],
      dtype='object')

#Not Creditworthy

In [87]:
merkmale['not_creditworthy']=merkmale.Merkmalcode.isin(['KW', 'RB', 'RV', 'S1', 'S2', 'S3', 'IE', 'EV', 'IA', 'HB', 'RA'])
KRML_US=match_id(merkmale, merkmale.Merkmalcode.isin(['KR','ML']))
KRML_US['not_creditworthy_US']=(KRML_US.Merkmalcode=='US')
KRMLKWKX_US=match_id(merkmale, merkmale.Merkmalcode.isin(['KR','ML','KW','KX']))
KRMLKWKX_US['not_creditworthy_US']=(KRMLKWKX_US.Merkmalcode=='US')
merkmale['not_creditworthy_US']=KRML_US['not_creditworthy_US']
merkmale['not_creditworthy_KRMLKWKX_US']=KRMLKWKX_US['not_creditworthy_US']

KR, ML with US

In [93]:
KRML_US['not_creditworthy_US'].sum()

14

In [92]:
KRMLKWKX_US['not_creditworthy_US'].sum()

201

In [88]:
RK=match_id(merkmale, merkmale.Merkmalcode.isin(['RK']))
RK.Merkmalcode.unique()

array(['XX', 'RK', 'ER'], dtype=object)

In [89]:
US_cases=match_id(merkmale, merkmale.Merkmalcode.isin(['US']))
US_cases.Merkmalcode.unique()

array(['KW', 'SD', 'US', 'SG', 'KR', 'KX', 'WS', 'SV', 'SE', 'ER'], dtype=object)

In [90]:
US_cases[US_cases.Merkmal_typ=='hauptmerkmal'].Merkmalcode.unique()

array(['KW', 'KR', 'KX'], dtype=object)

In [212]:
not_creditworthy_user=merkmale.groupby(level=['dwh_country_id','id'])['not_creditworthy',
                                                               'not_creditworthy_US',
                                                               'not_creditworthy_KRMLKWKX_US'].max()
# use max to find user with at least one row labelled not creditworthy
not_creditworthy_user.sum()

not_creditworthy                2219
not_creditworthy_US               12
not_creditworthy_KRMLKWKX_US     153
dtype: float64

In [96]:
merkmale.Merkmal_typ[merkmale.Merkmalcode=='RK'].unique()

array(['untermerkmal'], dtype=object)

In [431]:
132/3431

0.03847274846983387

In [417]:
merkmale['not_creditworthy_all']=merkmale['not_creditworthy'] | merkmale['not_creditworthy_US']

In [98]:
merkmale_user.not_creditworthy.mean()

0.56999743128692526

In [426]:
merkmale_user.not_creditworthy.shape

(3431L,)

In [315]:
merkmale.xs(99207,level='id')

                                                            Beschreibung  \
dwh_country_id record
1              0                                                  Kredit
               1                                               Girokonto
               2                                               Girokonto
               3                                               Girokonto
               4                                               Girokonto
               5                                               Girokonto
               6                                               Girokonto
               7                                             Kreditkarte
               8                                             Kreditkarte
               9                                             Kreditkarte
               10                                                     XX
               11                                           Rahmenkredit
               12                                                     XX
               13                                           Rahmenkredit
               14      Schuldner ist seiner Pflicht zur Abgabe der Ve...
               15      Schuldner ist seiner Pflicht zur Abgabe der Ve...

                      Betrag Betrag_waehrung        Datum        Kontonummer  \
dwh_country_id record
1              0         672             EUR   01.11.2012                NaN
               1         NaN             NaN          NaN                NaN
               2         NaN             NaN          NaN                NaN
               3         NaN             NaN          NaN                NaN
               4         NaN             NaN          NaN                NaN
               5         NaN             NaN          NaN                NaN
               6         NaN             NaN          NaN                NaN
               7         NaN             NaN   31.01.2011                NaN
               8         NaN             NaN   09.03.2010                NaN
               9         NaN             NaN   19.02.2013                NaN
               10        NaN             NaN          NaN                NaN
               11        500             EUR  UNBEFRISTET                NaN
               12        NaN             NaN          NaN                NaN
               13        300             EUR  UNBEFRISTET                NaN
               14        NaN             NaN   18.04.2013  D4501R00000213500
               15        NaN             NaN   17.04.2013  D4501R00000253217

                      Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id record
1              0                         NaN           1
               1                         NaN           2
               2                         NaN           3
               3                         NaN           4
               4                         NaN           5
               5                         NaN           6
               6                         NaN           7
               7                         NaN           8
               8                         NaN           9
               9                         NaN          10
               10                        NaN          11
               11                        NaN          11
               12                        NaN          12
               13                        NaN          12
               14                        NaN          12
               15                        NaN          12

                      Merkmal_merkmalOhneGeburtsdatum    Merkmal_typ  \
dwh_country_id record
1              0                                  NaN   hauptmerkmal
               1                                  NaN   hauptmerkmal
               2                                  NaN   hauptmerkmal
               3                                  NaN   hauptmerkmal
               4                                  NaN   hauptmerkmal
               5                                  NaN   hauptmerkmal
               6                                  NaN   hauptmerkmal
               7                                  NaN   hauptmerkmal
               8                                  NaN   hauptmerkmal
               9                                  NaN   hauptmerkmal
               10                                 NaN   hauptmerkmal
               11                                 NaN   untermerkmal
               12                                 NaN   hauptmerkmal
               13                                 NaN   untermerkmal
               14                                 NaN  einzelmerkmal
               15                                 NaN  einzelmerkmal

                      Merkmalcode Ratenart Ratenzahl not_creditworthy
dwh_country_id record
1              0               KR        M        24            False
               1               GI      NaN       NaN            False
               2               GI      NaN       NaN            False
               3               GI      NaN       NaN            False
               4               GI      NaN       NaN            False
               5               GI      NaN       NaN            False
               6               GI      NaN       NaN            False
               7               CC      NaN       NaN            False
               8               CC      NaN       NaN            False
               9               CC      NaN       NaN            False
               10              XX      NaN       NaN            False
               11              RK      NaN       NaN            False
               12              XX      NaN       NaN            False
               13              RK      NaN       NaN            False
               14              S1      NaN       NaN             True
               15              S1      NaN       NaN             True

## Additional Limit

In [223]:
additional_limit=match_id(merkmale, merkmale.Merkmalcode.isin(['XX','RK','CR']))
# add KG

additional_limit_paid_off=match_id(additional_limit, additional_limit.Merkmalcode=='ER')
additional_limit_outstanding=drop_paid_off(additional_limit)
additional_limit_outstanding_user=additional_limit_outstanding.groupby(level=['dwh_country_id','id']).Betrag.sum()
additional_limit_outstanding_user.name='add_Betrag'

In [85]:
additional_limit_outstanding_user.head()

dwh_country_id  id
1               96444     3000
                96450     1000
                96452     1200
                96462    65000
                96463     7700
Name: Betrag, dtype: float64

In [83]:
additional_limit.xs(99207,level='id')

                       Beschreibung  Betrag Betrag_waehrung        Datum  \
dwh_country_id record
1              10                XX     NaN             NaN          NaN
               11      Rahmenkredit     500             EUR  UNBEFRISTET
               12                XX     NaN             NaN          NaN
               13      Rahmenkredit     300             EUR  UNBEFRISTET

                      Kontonummer Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id record
1              10             NaN                    NaN          11
               11             NaN                    NaN          11
               12             NaN                    NaN          12
               13             NaN                    NaN          12

                      Merkmal_merkmalOhneGeburtsdatum   Merkmal_typ  \
dwh_country_id record
1              10                                 NaN  hauptmerkmal
               11                                 NaN  untermerkmal
               12                                 NaN  hauptmerkmal
               13                                 NaN  untermerkmal

                      Merkmalcode Ratenart Ratenzahl not_creditworthy  \
dwh_country_id record
1              10              XX      NaN       NaN            False
               11              RK      NaN       NaN            False
               12              XX      NaN       NaN            False
               13              RK      NaN       NaN            False

                      not_creditworthy_US not_creditworthy_KRMLKWKX_US
dwh_country_id record
1              10                     NaN                          NaN
               11                     NaN                          NaN
               12                     NaN                          NaN
               13                     NaN                          NaN

In [386]:
additional_limit_outstanding_user.head()

dwh_country_id  id
1               96444     3000
                96450     1000
                96452     1200
                96462    40000
                96463     7700
Name: Betrag, dtype: float64

In [373]:
print additional_limit.shape
print additional_limit_paid_off.shape
print additional_limit_outstanding.shape

(2585, 13)
(635, 13)
(1950, 14)

## Line of Credit

In [363]:
match_id(merkmale, merkmale.Merkmalcode.isin(['KG'])).Merkmalcode.unique()

array(['GI', 'KG', 'XX'], dtype=object)

In [224]:
LOC=match_id(merkmale, merkmale.Merkmalcode.isin(['GI']))
LOC=match_id(LOC, LOC.Merkmalcode=='KG')
LOC_paid_off=match_id(LOC, LOC.Merkmalcode=='ER')
LOC_outstanding=drop_paid_off(LOC)
LOC_outstanding_user=LOC_outstanding.groupby(level=['dwh_country_id','id']).Betrag.sum()
LOC_outstanding_user.name='LOC_Betrag'

In [115]:
additional_limit_outstanding_user.xs(96481,level='id')

dwh_country_id
1    2000
Name: Betrag, dtype: float64

In [111]:
LOC_outstanding_user[0:20]

dwh_country_id  id
1               96445     3800
                96450      200
                96481     1000
                96482     1000
                96495      200
                96521      400
                96522     2500
                96526      700
                96553     6000
                96555     5000
                96556     6400
                96593     1200
                96596     1000
                96637     7525
                96655     4200
                96664    38000
                96674      100
                96692      500
                96712      500
                96726      500
Name: Betrag, dtype: float64

In [113]:
loan_requests[loan_requests.id==96481]

     id_loan_request  loan_request_nr  fk_user     id
391           118813        846475410   134354  96481

In [103]:
LOC_outstanding[LOC_outstanding.Merkmalcode=='KG']

                            Beschreibung  Betrag Betrag_waehrung Datum  \
dwh_country_id id    record
1              99197 6         Girokonto     NaN             NaN   NaN
               99210 1         Girokonto     NaN             NaN   NaN
               99216 1         Girokonto     NaN             NaN   NaN
                     2         Girokonto     NaN             NaN   NaN
               99208 4         Girokonto     NaN             NaN   NaN

                            Kontonummer Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id id    record
1              99197 6              NaN                    NaN           5
               99210 1              NaN                    NaN           2
               99216 1              NaN                    NaN           2
                     2              NaN                    NaN           3
               99208 4              NaN                    NaN           4

                            Merkmal_merkmalOhneGeburtsdatum   Merkmal_typ  \
dwh_country_id id    record
1              99197 6                                  NaN  hauptmerkmal
               99210 1                                  NaN  hauptmerkmal
               99216 1                                  NaN  hauptmerkmal
                     2                                  NaN  hauptmerkmal
               99208 4                                  NaN  hauptmerkmal

                            Merkmalcode Ratenart Ratenzahl not_creditworthy  \
dwh_country_id id    record
1              99197 6               GI      NaN       NaN            False
               99210 1               GI      NaN       NaN            False
               99216 1               GI      NaN       NaN            False
                     2               GI      NaN       NaN            False
               99208 4               GI      NaN       NaN            False

                            not_creditworthy_US not_creditworthy_KRMLKWKX_US  \
dwh_country_id id    record
1              99197 6                      NaN                          NaN
               99210 1                      NaN                          NaN
               99216 1                      NaN                          NaN
                     2                      NaN                          NaN
               99208 4                      NaN                          NaN

                            paid
dwh_country_id id    record
1              99197 6       NaN
               99210 1       NaN
               99216 1       NaN
                     2       NaN
               99208 4       NaN

In [ ]:
# LOC can be time limited too?

In [101]:
LOC[LOC.Merkmalcode=='KG']

                                      Beschreibung  Betrag Betrag_waehrung  \
dwh_country_id id     record
1              99219  11      Kredit zum Girokonto    9900             EUR
               99278  1       Kredit zum Girokonto    6000             EUR
               99315  7       Kredit zum Girokonto    5000             EUR
               99313  6       Kredit zum Girokonto    1500             EUR
               99333  2       Kredit zum Girokonto    1000             EUR
               99354  1       Kredit zum Girokonto     475             EUR
               99365  14      Kredit zum Girokonto    3400             EUR
               99380  5       Kredit zum Girokonto     100             EUR
               99392  12      Kredit zum Girokonto    3000             EUR
                      14      Kredit zum Girokonto    3000             EUR
               99412  8       Kredit zum Girokonto    1000             EUR
               99414  4       Kredit zum Girokonto    2000             EUR
               97137  19      Kredit zum Girokonto    3800             EUR
               98002  2       Kredit zum Girokonto    1000             EUR
               98139  2       Kredit zum Girokonto    1500             EUR
               98239  25      Kredit zum Girokonto    2000             EUR
               98242  2       Kredit zum Girokonto    3000             EUR
               98705  3       Kredit zum Girokonto     500             EUR
               98906  3       Kredit zum Girokonto    1000             EUR
               98909  6       Kredit zum Girokonto    7700             EUR
               99024  8       Kredit zum Girokonto    2000             EUR
               99125  2       Kredit zum Girokonto    1500             EUR
               96445  6       Kredit zum Girokonto    3800             EUR
               96450  6       Kredit zum Girokonto     200             EUR
               96481  5       Kredit zum Girokonto    1000             EUR
               96482  7       Kredit zum Girokonto    1000             EUR
               96495  2       Kredit zum Girokonto     200             EUR
               96521  13      Kredit zum Girokonto     400             EUR
               96522  5       Kredit zum Girokonto    2500             EUR
               96526  1       Kredit zum Girokonto     700             EUR
...                                            ...     ...             ...
               100982 1       Kredit zum Girokonto    6400             EUR
               100917 3       Kredit zum Girokonto    1000             EUR
                      6       Kredit zum Girokonto     500             EUR
               100957 3       Kredit zum Girokonto    1900             EUR
               100967 6       Kredit zum Girokonto    1000             EUR
               100954 4       Kredit zum Girokonto     500             EUR
               100937 8       Kredit zum Girokonto   10000             EUR
                      11      Kredit zum Girokonto    7000             EUR
               101032 18      Kredit zum Girokonto     500             EUR
               101043 2       Kredit zum Girokonto    7500             EUR
               101001 13      Kredit zum Girokonto    5000             EUR
               101090 3       Kredit zum Girokonto     500             EUR
               101115 12      Kredit zum Girokonto     250             EUR
               101117 12      Kredit zum Girokonto     250             EUR
               101070 2       Kredit zum Girokonto    5500             EUR
               101101 2       Kredit zum Girokonto     500             EUR
               101062 9       Kredit zum Girokonto    2500             EUR
               101008 6       Kredit zum Girokonto    2400             EUR
               100925 12      Kredit zum Girokonto    1000             EUR
               101147 7       Kredit zum Girokonto    6000             EUR
               101148 8       Kredit zum Girokonto    3000             EUR
               101244 47      Kredit zum Girokonto    2000             EUR
               101250 3       Kredit zum Girokonto    1000             EUR
               101252 7       Kredit zum Girokonto     500             EUR
               101198 32      Kredit zum Girokonto     400             EUR
               101214 4       Kredit zum Girokonto    1000             EUR
               101285 9       Kredit zum Girokonto     500             EUR
               101303 2       Kredit zum Girokonto    2000             EUR
               101277 2       Kredit zum Girokonto    3000             EUR
               101342 5       Kredit zum Girokonto    5200             EUR

                                    Datum Kontonummer Merkmal_eigenesMerkmal  \
dwh_country_id id     record
1              99219  11      UNBEFRISTET         NaN                    NaN
               99278  1       UNBEFRISTET         NaN                    NaN
               99315  7       UNBEFRISTET         NaN                    NaN
               99313  6       UNBEFRISTET         NaN                    NaN
               99333  2       UNBEFRISTET         NaN                    NaN
               99354  1        24.07.2015         NaN                    NaN
               99365  14      UNBEFRISTET         NaN                    NaN
               99380  5       UNBEFRISTET         NaN                    NaN
               99392  12      UNBEFRISTET         NaN                    NaN
                      14      UNBEFRISTET         NaN                    NaN
               99412  8       UNBEFRISTET         NaN                    NaN
               99414  4       UNBEFRISTET         NaN                    NaN
               97137  19      UNBEFRISTET         NaN                    NaN
               98002  2       UNBEFRISTET         NaN                    NaN
               98139  2       UNBEFRISTET         NaN                    NaN
               98239  25      UNBEFRISTET         NaN                    NaN
               98242  2       UNBEFRISTET         NaN                    NaN
               98705  3       UNBEFRISTET         NaN                    NaN
               98906  3       UNBEFRISTET         NaN                    NaN
               98909  6       UNBEFRISTET         NaN                    NaN
               99024  8       UNBEFRISTET         NaN                    NaN
               99125  2       UNBEFRISTET         NaN                    NaN
               96445  6       UNBEFRISTET         NaN                    NaN
               96450  6       UNBEFRISTET         NaN                    NaN
               96481  5       UNBEFRISTET         NaN                    NaN
               96482  7       UNBEFRISTET         NaN                    NaN
               96495  2       UNBEFRISTET         NaN                    NaN
               96521  13      UNBEFRISTET         NaN                    NaN
               96522  5       UNBEFRISTET         NaN                    NaN
               96526  1       UNBEFRISTET         NaN                    NaN
...                                   ...         ...                    ...
               100982 1       UNBEFRISTET         NaN                    NaN
               100917 3       UNBEFRISTET         NaN                    NaN
                      6       UNBEFRISTET         NaN                    NaN
               100957 3       UNBEFRISTET         NaN                    NaN
               100967 6       UNBEFRISTET         NaN                    NaN
               100954 4       UNBEFRISTET         NaN                    NaN
               100937 8       UNBEFRISTET         NaN                    NaN
                      11      UNBEFRISTET         NaN                    NaN
               101032 18      UNBEFRISTET         NaN                    NaN
               101043 2       UNBEFRISTET         NaN                    NaN
               101001 13      UNBEFRISTET         NaN                    NaN
               101090 3       UNBEFRISTET         NaN                    NaN
               101115 12      UNBEFRISTET         NaN                    NaN
               101117 12      UNBEFRISTET         NaN                    NaN
               101070 2       UNBEFRISTET         NaN                    NaN
               101101 2       UNBEFRISTET         NaN                    NaN
               101062 9       UNBEFRISTET         NaN                    NaN
               101008 6       UNBEFRISTET         NaN                    NaN
               100925 12      UNBEFRISTET         NaN                    NaN
               101147 7       UNBEFRISTET         NaN                    NaN
               101148 8       UNBEFRISTET         NaN                    NaN
               101244 47      UNBEFRISTET         NaN                    NaN
               101250 3       UNBEFRISTET         NaN                    NaN
               101252 7       UNBEFRISTET         NaN                    NaN
               101198 32      UNBEFRISTET         NaN                    NaN
               101214 4       UNBEFRISTET         NaN                    NaN
               101285 9       UNBEFRISTET         NaN                    NaN
               101303 2       UNBEFRISTET         NaN                    NaN
               101277 2       UNBEFRISTET         NaN                    NaN
               101342 5       UNBEFRISTET         NaN                    NaN

                              Merkmal_id Merkmal_merkmalOhneGeburtsdatum  \
dwh_country_id id     record
1              99219  11               9                             NaN
               99278  1                1                             NaN
               99315  7                6                             NaN
               99313  6                5                             NaN
               99333  2                2                             NaN
               99354  1                1                             NaN
               99365  14               9                             NaN
               99380  5                5                             NaN
               99392  12              10                             NaN
                      14              11                             NaN
               99412  8                6                             NaN
               99414  4                3                             NaN
               97137  19              12                             NaN
               98002  2                2                             NaN
               98139  2                2                             NaN
               98239  25              15                             NaN
               98242  2                2                             NaN
               98705  3                3                             NaN
               98906  3                3                             NaN
               98909  6                4                             NaN
               99024  8                5                             NaN
               99125  2                2                             NaN
               96445  6                4                             NaN
               96450  6                5                             NaN
               96481  5                5                             NaN
               96482  7                4                             NaN
               96495  2                2                             NaN
               96521  13               9                             NaN
               96522  5                4                             NaN
               96526  1                1                             NaN
...                                  ...                             ...
               100982 1                1                             NaN
               100917 3                3                             NaN
                      6                5                             NaN
               100957 3                2                             NaN
               100967 6                6                             NaN
               100954 4                4                             NaN
               100937 8                7                             NaN
                      11               9                             NaN
               101032 18              13                             NaN
               101043 2                2                             NaN
               101001 13               8                             NaN
               101090 3                3                             NaN
               101115 12               8                             NaN
               101117 12               8                             NaN
               101070 2                2                             NaN
               101101 2                2                             NaN
               101062 9                6                             NaN
               101008 6                5                             NaN
               100925 12               5                             NaN
               101147 7                2                             NaN
               101148 8                5                             NaN
               101244 47              31                             NaN
               101250 3                3                             NaN
               101252 7                5                             NaN
               101198 32               2                             NaN
               101214 4                4                             NaN
               101285 9                7                             NaN
               101303 2                2                             NaN
               101277 2                2                             NaN
               101342 5                5                             NaN

                               Merkmal_typ Merkmalcode Ratenart Ratenzahl  \
dwh_country_id id     record
1              99219  11      untermerkmal          KG      NaN       NaN
               99278  1       untermerkmal          KG      NaN       NaN
               99315  7       untermerkmal          KG      NaN       NaN
               99313  6       untermerkmal          KG      NaN       NaN
               99333  2       untermerkmal          KG      NaN       NaN
               99354  1       untermerkmal          KG      NaN       NaN
               99365  14      untermerkmal          KG      NaN       NaN
               99380  5       untermerkmal          KG      NaN       NaN
               99392  12      untermerkmal          KG      NaN       NaN
                      14      untermerkmal          KG      NaN       NaN
               99412  8       untermerkmal          KG      NaN       NaN
               99414  4       untermerkmal          KG      NaN       NaN
               97137  19      untermerkmal          KG      NaN       NaN
               98002  2       untermerkmal          KG      NaN       NaN
               98139  2       untermerkmal          KG      NaN       NaN
               98239  25      untermerkmal          KG      NaN       NaN
               98242  2       untermerkmal          KG      NaN       NaN
               98705  3       untermerkmal          KG      NaN       NaN
               98906  3       untermerkmal          KG      NaN       NaN
               98909  6       untermerkmal          KG      NaN       NaN
               99024  8       untermerkmal          KG      NaN       NaN
               99125  2       untermerkmal          KG      NaN       NaN
               96445  6       untermerkmal          KG      NaN       NaN
               96450  6       untermerkmal          KG      NaN       NaN
               96481  5       untermerkmal          KG      NaN       NaN
               96482  7       untermerkmal          KG      NaN       NaN
               96495  2       untermerkmal          KG      NaN       NaN
               96521  13      untermerkmal          KG      NaN       NaN
               96522  5       untermerkmal          KG      NaN       NaN
               96526  1       untermerkmal          KG      NaN       NaN
...                                    ...         ...      ...       ...
               100982 1       untermerkmal          KG      NaN       NaN
               100917 3       untermerkmal          KG      NaN       NaN
                      6       untermerkmal          KG      NaN       NaN
               100957 3       untermerkmal          KG      NaN       NaN
               100967 6       untermerkmal          KG      NaN       NaN
               100954 4       untermerkmal          KG      NaN       NaN
               100937 8       untermerkmal          KG      NaN       NaN
                      11      untermerkmal          KG      NaN       NaN
               101032 18      untermerkmal          KG      NaN       NaN
               101043 2       untermerkmal          KG      NaN       NaN
               101001 13      untermerkmal          KG      NaN       NaN
               101090 3       untermerkmal          KG      NaN       NaN
               101115 12      untermerkmal          KG      NaN       NaN
               101117 12      untermerkmal          KG      NaN       NaN
               101070 2       untermerkmal          KG      NaN       NaN
               101101 2       untermerkmal          KG      NaN       NaN
               101062 9       untermerkmal          KG      NaN       NaN
               101008 6       untermerkmal          KG      NaN       NaN
               100925 12      untermerkmal          KG      NaN       NaN
               101147 7       untermerkmal          KG      NaN       NaN
               101148 8       untermerkmal          KG      NaN       NaN
               101244 47      untermerkmal          KG      NaN       NaN
               101250 3       untermerkmal          KG      NaN       NaN
               101252 7       untermerkmal          KG      NaN       NaN
               101198 32      untermerkmal          KG      NaN       NaN
               101214 4       untermerkmal          KG      NaN       NaN
               101285 9       untermerkmal          KG      NaN       NaN
               101303 2       untermerkmal          KG      NaN       NaN
               101277 2       untermerkmal          KG      NaN       NaN
               101342 5       untermerkmal          KG      NaN       NaN

                             not_creditworthy not_creditworthy_US  \
dwh_country_id id     record
1              99219  11                False                 NaN
               99278  1                 False                 NaN
               99315  7                 False                 NaN
               99313  6                 False                 NaN
               99333  2                 False                 NaN
               99354  1                 False                 NaN
               99365  14                False                 NaN
               99380  5                 False                 NaN
               99392  12                False                 NaN
                      14                False                 NaN
               99412  8                 False                 NaN
               99414  4                 False                 NaN
               97137  19                False                 NaN
               98002  2                 False                 NaN
               98139  2                 False                 NaN
               98239  25                False                 NaN
               98242  2                 False                 NaN
               98705  3                 False                 NaN

In [105]:
LOC.shape

(4999, 15)

##Net Loans

In [182]:
net_loans=match_id(merkmale, merkmale.Merkmalcode.isin(['KR','ML']))
net_loans_exclude_US=drop_id(net_loans,net_loans.Merkmalcode=='US')
net_loans_exclude_US_outstanding=drop_paid_off(net_loans_exclude_US)

In [121]:
net_loans_exclude_US_outstanding.head()

                            Beschreibung  Betrag Betrag_waehrung       Datum  \
dwh_country_id id    record
1              99197 4            Kredit    5364             EUR  01.09.2014
                     5            Kredit   27197             EUR  01.10.2014
               99210 0            Kredit    2299             EUR  15.05.2015
               99216 0            Kredit    5000             EUR  15.11.2013
               99208 2            Kredit    4869             EUR  01.06.2014

                            Kontonummer Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id id    record
1              99197 4              NaN                    NaN           3
                     5              NaN                    NaN           4
               99210 0              NaN                    NaN           1
               99216 0              NaN                    NaN           1
               99208 2              NaN                    NaN           2

                            Merkmal_merkmalOhneGeburtsdatum   Merkmal_typ  \
dwh_country_id id    record
1              99197 4                                  NaN  hauptmerkmal
                     5                                  NaN  hauptmerkmal
               99210 0                                  NaN  hauptmerkmal
               99216 0                                  NaN  hauptmerkmal
               99208 2                                  NaN  hauptmerkmal

                            Merkmalcode Ratenart Ratenzahl not_creditworthy  \
dwh_country_id id    record
1              99197 4               KR        M        69            False
                     5               KR        M        84            False
               99210 0               KR        M        36            False
               99216 0               KR        M        60            False
               99208 2               KR        M        36            False

                            not_creditworthy_US not_creditworthy_KRMLKWKX_US
dwh_country_id id    record
1              99197 4                    False                        False
                     5                    False                        False
               99210 0                    False                        False
               99216 0                    False                        False
               99208 2                    False                        False

In [123]:
net_loans_exclude_US_outstanding.Beschreibung.unique()

array(['Kredit', 'Leasing', u'Saldo nach Gesamtf\xe4lligstellung',
       u'\xdcbergabe an ein Inkassounternehmen/eine interne Inkassostelle zur Beitreibung',
       'titulierter Saldo', 'Saldo', 'Forderungsverkauf',
       'uneinbringliche titulierte Forderung / Einzug unwirtschaftlich',
       'Widerspruch zum Saldo',
       u'R\xfcckgabe vom Inkassounternehmen/von einer internen Inkassostelle an den Gl\xe4ubiger'], dtype=object)

In [159]:
def calc_installments(issued,now):
    return (now.year-issued.year)*12 + (now.month-issued.month) + 1 - 1*(issued.day>now.day)

In [166]:
12+7-9+1

11

In [245]:
a=net_loans_exclude_US_outstanding[net_loans_exclude_US_outstanding.Ratenart=='J']
a.to_clipboard()

In [169]:
net_loans_exclude_US_outstanding.Ratenart.unique()

array(['M', nan, 'J'], dtype=object)

In [185]:
91//12

7

In [191]:
net_loans_exclude_US_outstanding.loc[KR_select & (net_loans_exclude_US_outstanding.Ratenart=='J')]

                            Beschreibung  Betrag Betrag_waehrung       Datum  \
dwh_country_id id    record
1              99315 0            Kredit   60000             EUR  30.12.2007
               96453 0            Kredit    7414             EUR  31.03.2001
               96780 2            Kredit   20250             EUR  28.02.2010
               98778 0            Kredit    9900             EUR  31.05.2014

                            Kontonummer Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id id    record
1              99315 0              NaN                    NaN           1
               96453 0              NaN                    NaN           1
               96780 2              NaN                    NaN           3
               98778 0              NaN                    NaN           1

                            Merkmal_merkmalOhneGeburtsdatum   Merkmal_typ  \
dwh_country_id id    record
1              99315 0                                  NaN  hauptmerkmal
               96453 0                                  NaN  hauptmerkmal
               96780 2                                  NaN  hauptmerkmal
               98778 0                                  NaN  hauptmerkmal

                            Merkmalcode Ratenart  Ratenzahl not_creditworthy  \
dwh_country_id id    record
1              99315 0               KR        J          8            False
               96453 0               KR        J         15            False
               96780 2               KR        J          8            False
               98778 0               KR        J         10            False

                            not_creditworthy_US not_creditworthy_KRMLKWKX_US  \
dwh_country_id id    record
1              99315 0                    False                        False
               96453 0                    False                        False
               96780 2                    False                        False
               98778 0                    False                        False

                                  Date  paid_installments  installment
dwh_country_id id    record
1              99315 0      2007-12-30                  7         9750
               96453 0      2001-03-31                 14          642
               96780 2      2010-02-28                  5         3290
               98778 0      2014-05-31                  1         1287

In [214]:
now_date=pd.Timestamp('2015-07-17')
KR_select=net_loans_exclude_US_outstanding.Merkmalcode=='KR'
net_loans_exclude_US_outstanding.loc[KR_select,'paid_installments'] = \
    calc_installments(net_loans_exclude_US_outstanding.loc[KR_select,'Date'].dt,now_date)
    
net_loans_exclude_US_outstanding.loc[KR_select,'Ratenzahl_Month'] = \
    net_loans_exclude_US_outstanding.loc[KR_select,'Ratenzahl']
net_loans_exclude_US_outstanding.loc[KR_select & (net_loans_exclude_US_outstanding.Ratenart=='J'),'Ratenzahl_Month'] = \
    12 *net_loans_exclude_US_outstanding.loc[KR_select,'Ratenzahl']

net_loans_exclude_US_outstanding.loc[KR_select,'paid_installments'] = \
    net_loans_exclude_US_outstanding.loc[KR_select,['Ratenzahl_Month','paid_installments']].min(axis=1)
           
net_loans_exclude_US_outstanding.loc[KR_select,'installment'] = \
    (1.3*net_loans_exclude_US_outstanding.loc[KR_select,'Betrag']).\
    floordiv(net_loans_exclude_US_outstanding.loc[KR_select,'Ratenzahl_Month'])
    
net_loans_exclude_US_outstanding.loc[KR_select,'loan_gross_amount'] = \
    net_loans_exclude_US_outstanding.loc[KR_select,'installment'] * \
    net_loans_exclude_US_outstanding.loc[KR_select,'Ratenzahl_Month']

net_loans_exclude_US_outstanding.loc[KR_select,'loan_gross_outstanding_amount'] = \
    net_loans_exclude_US_outstanding.loc[KR_select,'loan_gross_amount'] - \
    net_loans_exclude_US_outstanding.loc[KR_select,'installment'] * \
    net_loans_exclude_US_outstanding.loc[KR_select,'paid_installments']

net_loans_exclude_US_outstanding.loc[KR_select,'outstanding_installments'] = \
    net_loans_exclude_US_outstanding.loc[KR_select,'Ratenzahl_Month'] - \
    net_loans_exclude_US_outstanding.loc[KR_select,'paid_installments']

net_loans_exclude_US_outstanding.loc[KR_select,'interest'] = \
    net_loans_exclude_US_outstanding.loc[KR_select,'loan_gross_amount'] - \
    net_loans_exclude_US_outstanding.loc[KR_select,'Betrag']
    
net_loans_exclude_US_outstanding.loc[KR_select,'interest_allowance'] = \
    (net_loans_exclude_US_outstanding.loc[KR_select,'interest'].mul(
    net_loans_exclude_US_outstanding.loc[KR_select,'outstanding_installments']-4).mul(
    net_loans_exclude_US_outstanding.loc[KR_select,'outstanding_installments']-3)/ 
    (net_loans_exclude_US_outstanding.loc[KR_select,'Ratenzahl_Month'].mul(
        net_loans_exclude_US_outstanding.loc[KR_select,'Ratenzahl_Month']+1))).round(2)
net_loans_exclude_US_outstanding.loc[KR_select,'net_value'] = np.maximum( 0,
    net_loans_exclude_US_outstanding.loc[KR_select,'loan_gross_outstanding_amount'] - \
    net_loans_exclude_US_outstanding.loc[KR_select,'interest_allowance'])

In [198]:
lr=118813
loan_requests[loan_requests.id_loan_request==lr]

     id_loan_request  loan_request_nr  fk_user     id
391           118813        846475410   134354  96481

In [211]:
merkmale.head().to_clipboard()

In [206]:
id=99315
loan_requests[loan_requests.id==id]

    id_loan_request  loan_request_nr  fk_user     id
62           122080        767115004   137604  99315

In [225]:
net_loans_exclude_US_outstanding_user=net_loans_exclude_US_outstanding.groupby(level=['dwh_country_id','id'])\
['Betrag','loan_gross_amount','loan_gross_outstanding_amount', 'interest','interest_allowance', 'net_value'] .sum()
net_loans_exclude_US_outstanding_user.rename(columns={'Betrag':'net_loan_Betrag'},inplace=True)

In [227]:
all_user=pd.concat((not_creditworthy_user, 
                   additional_limit_outstanding_user,  
                   LOC_outstanding_user, 
                   net_loans_exclude_US_outstanding_user),axis=1)

In [239]:
merkmale.xs(96439,level='id')

                                          Beschreibung  Betrag  \
dwh_country_id record
1              0              Kredit mit Endfälligkeit     100
               1                              Erledigt     NaN
               2              Kredit mit Endfälligkeit     100
               3                              Erledigt     NaN
               4              Kredit mit Endfälligkeit     100
               5                              Erledigt     NaN
               6              Kredit mit Endfälligkeit     200
               7                              Erledigt     NaN
               8              Kredit mit Endfälligkeit     200
               9                              Erledigt     NaN
               10             Kredit mit Endfälligkeit     200
               11                             Erledigt     NaN
               12             Kredit mit Endfälligkeit     200
               13      Saldo nach Gesamtfälligstellung     300
               14                            Girokonto     NaN

                      Betrag_waehrung        Datum Kontonummer  \
dwh_country_id record
1              0                  EUR  UNBEFRISTET         NaN
               1                  NaN   05.08.2014         NaN
               2                  EUR  UNBEFRISTET         NaN
               3                  NaN   05.09.2014         NaN
               4                  EUR  UNBEFRISTET         NaN
               5                  NaN   02.10.2014         NaN
               6                  EUR  UNBEFRISTET         NaN
               7                  NaN   03.11.2014         NaN
               8                  EUR  UNBEFRISTET         NaN
               9                  NaN   04.12.2014         NaN
               10                 EUR  UNBEFRISTET         NaN
               11                 NaN   06.01.2015         NaN
               12                 EUR  UNBEFRISTET         NaN
               13                 EUR   26.03.2015         NaN
               14                 NaN          NaN         NaN

                      Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id record
1              0                         NaN           1
               1                         NaN           1
               2                         NaN           2
               3                         NaN           2
               4                         NaN           3
               5                         NaN           3
               6                         NaN           4
               7                         NaN           4
               8                         NaN           5
               9                         NaN           5
               10                        NaN           6
               11                        NaN           6
               12                        NaN           7
               13                        NaN           7
               14                        NaN           8

                      Merkmal_merkmalOhneGeburtsdatum         Merkmal_typ  \
dwh_country_id record
1              0                                  NaN        hauptmerkmal
               1                                  NaN  erledigungsmerkmal
               2                                  NaN        hauptmerkmal
               3                                  NaN  erledigungsmerkmal
               4                                  NaN        hauptmerkmal
               5                                  NaN  erledigungsmerkmal
               6                                  NaN        hauptmerkmal
               7                                  NaN  erledigungsmerkmal
               8                                  NaN        hauptmerkmal
               9                                  NaN  erledigungsmerkmal
               10                                 NaN        hauptmerkmal
               11                                 NaN  erledigungsmerkmal
               12                                 NaN        hauptmerkmal
               13                                 NaN        untermerkmal
               14                                 NaN        hauptmerkmal

                      Merkmalcode Ratenart  Ratenzahl not_creditworthy  \
dwh_country_id record
1              0               KX      NaN        NaN            False
               1               ER      NaN        NaN            False
               2               KX      NaN        NaN            False
               3               ER      NaN        NaN            False
               4               KX      NaN        NaN            False
               5               ER      NaN        NaN            False
               6               KX      NaN        NaN            False
               7               ER      NaN        NaN            False
               8               KX      NaN        NaN            False
               9               ER      NaN        NaN            False
               10              KX      NaN        NaN            False
               11              ER      NaN        NaN            False
               12              KX      NaN        NaN            False
               13              SG      NaN        NaN            False
               14              GI      NaN        NaN            False

                      not_creditworthy_US not_creditworthy_KRMLKWKX_US  \
dwh_country_id record
1              0                      NaN                        False
               1                      NaN                        False
               2                      NaN                        False
               3                      NaN                        False
               4                      NaN                        False
               5                      NaN                        False
               6                      NaN                        False
               7                      NaN                        False
               8                      NaN                        False
               9                      NaN                        False
               10                     NaN                        False
               11                     NaN                        False
               12                     NaN                        False
               13                     NaN                        False
               14                     NaN                          NaN

                            Date
dwh_country_id record
1              0             NaT
               1      2014-08-05
               2             NaT
               3      2014-09-05
               4             NaT
               5      2014-10-02
               6             NaT
               7      2014-11-03
               8             NaT
               9      2014-12-04
               10            NaT
               11     2015-01-06
               12            NaT
               13     2015-03-26
               14            NaT

In [240]:
loan_requests[loan_requests.id==96439]

     id_loan_request  loan_request_nr  fk_user     id  principal_amount
348           118766        484010163   134308  96439              3000

In [228]:
all_user.head()

                     not_creditworthy not_creditworthy_US  \
dwh_country_id id
1              96439            False                 NaN
               96440             True                 NaN
               96441             True                 NaN
               96442            False               False
               96443             True               False

                     not_creditworthy_KRMLKWKX_US  add_Betrag  LOC_Betrag  \
dwh_country_id id
1              96439                        False         NaN         NaN
               96440                        False         NaN         NaN
               96441                        False         NaN         NaN
               96442                        False         NaN         NaN
               96443                        False         NaN         NaN

                      net_loan_Betrag  loan_gross_amount  \
dwh_country_id id
1              96439              NaN                NaN
               96440              NaN                NaN
               96441              NaN                NaN
               96442            33975              44016
               96443             8844                NaN

                      loan_gross_outstanding_amount  interest  \
dwh_country_id id
1              96439                            NaN       NaN
               96440                            NaN       NaN
               96441                            NaN       NaN
               96442                          35894     10041
               96443                            NaN       NaN

                      interest_allowance  net_value
dwh_country_id id
1              96439                 NaN        NaN
               96440                 NaN        NaN
               96441                 NaN        NaN
               96442             6302.86   29591.14
               96443                 NaN        NaN

In [313]:
lr_all_user=loan_requests1.merge(all_user.reset_index(),on='id')

In [314]:
lr_all_user['net_debt']=lr_all_user[['net_value','principal_amount','LOC_Betrag','add_Betrag']].sum(axis=1) # sum removes NAN
lr_all_user['debt_ratio']=lr_all_user['net_debt']/lr_all_user['net_income']

In [315]:
lr_all_user[lr_all_user['indebt:actual'].notnull()].to_clipboard()

In [316]:
loan_requests1.shape

(3340, 11)

In [317]:
(loan_requests.postcheck_data!='null').sum()

1644

In [244]:
lr_all_user[lr_all_user.id_loan_request==120973].T.to_clipboard()

In [217]:
net_loans_exclude_US_outstanding_user.head()

                      Betrag  loan_gross_amount  \
dwh_country_id id
1              96442   33975              44016
               96443    8844                NaN
               96444     183                230
               96445   28749              21720
               96446   20000              25956

                      loan_gross_outstanding_amount  interest  \
dwh_country_id id
1              96442                          35894     10041
               96443                            NaN       NaN
               96444                              0        47
               96445                           7610      4943
               96446                          24411      5956

                      interest_allowance  net_value
dwh_country_id id
1              96442             6302.86   29591.14
               96443                 NaN        NaN
               96444                5.13       0.00
               96445              492.99    7117.01
               96446             4754.79   19656.21

In [178]:
net_loans_exclude_US_outstanding.loc[KR_select].head()

                            Beschreibung  Betrag Betrag_waehrung       Datum  \
dwh_country_id id    record
1              99197 4            Kredit    5364             EUR  01.09.2014
                     5            Kredit   27197             EUR  01.10.2014
               99210 0            Kredit    2299             EUR  15.05.2015
               99216 0            Kredit    5000             EUR  15.11.2013
               99208 2            Kredit    4869             EUR  01.06.2014

                            Kontonummer Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id id    record
1              99197 4              NaN                    NaN           3
                     5              NaN                    NaN           4
               99210 0              NaN                    NaN           1
               99216 0              NaN                    NaN           1
               99208 2              NaN                    NaN           2

                            Merkmal_merkmalOhneGeburtsdatum   Merkmal_typ  \
dwh_country_id id    record
1              99197 4                                  NaN  hauptmerkmal
                     5                                  NaN  hauptmerkmal
               99210 0                                  NaN  hauptmerkmal
               99216 0                                  NaN  hauptmerkmal
               99208 2                                  NaN  hauptmerkmal

                            Merkmalcode Ratenart Ratenzahl not_creditworthy  \
dwh_country_id id    record
1              99197 4               KR        M        69            False
                     5               KR        M        84            False
               99210 0               KR        M        36            False
               99216 0               KR        M        60            False
               99208 2               KR        M        36            False

                            not_creditworthy_US not_creditworthy_KRMLKWKX_US  \
dwh_country_id id    record
1              99197 4                    False                        False
                     5                    False                        False
               99210 0                    False                        False
               99216 0                    False                        False
               99208 2                    False                        False

                                  Date  paid_installments
dwh_country_id id    record
1              99197 4      2014-09-01                 11
                     5      2014-10-01                 10
               99210 0      2015-05-15                  3
               99216 0      2013-11-15                 21
               99208 2      2014-06-01                 14

In [306]:
loan_requests[loan_requests.id_loan_request==122466]

,id_loan_request,loan_request_nr,fk_user,id,principal_amount,net_income,postcheck_data
6687,122466,44200180,7001,99634,1500,2198,"[{""status"":true,""actual"":""retired"",""expected"":..."
6693,122466,44200180,7001,99634,1500,2198,null

In [125]:
z1=match_id(net_loans_exclude_US_outstanding,net_loans_exclude_US_outstanding.Beschreibung==u'R\xfcckgabe vom Inkassounternehmen/von einer internen Inkassostelle an den Gl\xe4ubiger')
z1

                                                                   Beschreibung  \
dwh_country_id id     record
1              100654 3                                                  Kredit
                      4                         Saldo nach Gesamtfälligstellung
                      5                                                   Saldo
                      6                                                   Saldo
                      7                                                   Saldo
                      8                                                   Saldo
                      9                                                   Saldo
                      10                                                  Saldo
                      11                                                  Saldo
                      12                                                  Saldo
                      13                                                  Saldo
                      14                                                  Saldo
                      15                                                  Saldo
                      16                                                  Saldo
                      17                                                  Saldo
                      18                                                  Saldo
                      19                                                  Saldo
                      20                                                  Saldo
                      21                                                  Saldo
                      22                                                  Saldo
                      23                                                  Saldo
                      24                                                  Saldo
                      25                                                  Saldo
                      26                                                  Saldo
                      27                                                  Saldo
                      28                                                  Saldo
                      29                                                  Saldo
                      30                                                  Saldo
                      31                                                  Saldo
                      32                                                  Saldo
                      33                                                  Saldo
                      34                                                  Saldo
                      35                                                  Saldo
                      36                                                  Saldo
                      37                                                  Saldo
                      38                                                  Saldo
                      39                                                  Saldo
                      40      Rückgabe vom Inkassounternehmen/von einer inte...

                              Betrag Betrag_waehrung       Datum Kontonummer  \
dwh_country_id id     record
1              100654 3        35023             EUR  15.04.2010         NaN
                      4        17388             EUR  24.05.2012         NaN
                      5        17402             EUR  31.05.2012         NaN
                      6        17432             EUR  13.06.2012         NaN
                      7        17458             EUR  16.08.2012         NaN
                      8        17518             EUR  12.09.2012         NaN
                      9        17587             EUR  12.10.2012         NaN
                      10       18069             EUR  14.11.2012         NaN
                      11       18137             EUR  13.12.2012         NaN
                      12       18211             EUR  16.01.2013         NaN
                      13       18270             EUR  13.02.2013         NaN
                      14       18351             EUR  20.03.2013         NaN
                      15       18408             EUR  16.04.2013         NaN
                      16       18473             EUR  15.05.2013         NaN
                      17       18532             EUR  12.06.2013         NaN
                      18       18592             EUR  10.07.2013         NaN
                      19       18661             EUR  13.08.2013         NaN
                      20       18719             EUR  11.09.2013         NaN
                      21       18791             EUR  16.10.2013         NaN
                      22       18847             EUR  13.11.2013         NaN
                      23       18891             EUR  04.12.2013         NaN
                      24       18961             EUR  08.01.2014         NaN
                      25       19004             EUR  30.01.2014         NaN
                      26       17389             EUR  16.07.2012         NaN
                      27       19041             EUR  19.02.2014         NaN
                      28       19086             EUR  12.03.2014         NaN
                      29       19180             EUR  30.04.2014         NaN
                      30       19208             EUR  14.05.2014         NaN
                      31       19274             EUR  18.06.2014         NaN
                      32       19327             EUR  15.07.2014         NaN
                      33       19380             EUR  13.08.2014         NaN
                      34       19438             EUR  12.09.2014         NaN
                      35       19501             EUR  15.10.2014         NaN
                      36       19553             EUR  12.11.2014         NaN
                      37       19671             EUR  14.01.2015         NaN
                      38       19733             EUR  17.02.2015         NaN
                      39       19778             EUR  11.03.2015         NaN
                      40       19782             EUR  13.03.2015         NaN

                             Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id id     record
1              100654 3                         NaN           2
                      4                         NaN           2
                      5                         NaN           2
                      6                         NaN           2
                      7                         NaN           2
                      8                         NaN           2
                      9                         NaN           2
                      10                        NaN           2
                      11                        NaN           2
                      12                        NaN           2
                      13                        NaN           2
                      14                        NaN           2
                      15                        NaN           2
                      16                        NaN           2
                      17                        NaN           2
                      18                        NaN           2
                      19                        NaN           2
                      20                        NaN           2
                      21                        NaN           2
                      22                        NaN           2
                      23                        NaN           2
                      24                        NaN           2
                      25                        NaN           2
                      26                        NaN           2
                      27                        NaN           2
                      28                        NaN           2
                      29                        NaN           2
                      30                        NaN           2
                      31                        NaN           2
                      32                        NaN           2
                      33                        NaN           2
                      34                        NaN           2
                      35                        NaN           2
                      36                        NaN           2
                      37                        NaN           2
                      38                        NaN           2
                      39                        NaN           2
                      40                        NaN           2

                             Merkmal_merkmalOhneGeburtsdatum   Merkmal_typ  \
dwh_country_id id     record
1              100654 3                                  NaN  hauptmerkmal
                      4                                  NaN  untermerkmal
                      5                                  NaN  untermerkmal
                      6                                  NaN  untermerkmal
                      7                                  NaN  untermerkmal
                      8                                  NaN  untermerkmal
                      9                                  NaN  untermerkmal
                      10                                 NaN  untermerkmal
                      11                                 NaN  untermerkmal
                      12                                 NaN  untermerkmal
                      13                                 NaN  untermerkmal
                      14                                 NaN  untermerkmal
                      15                                 NaN  untermerkmal
                      16                                 NaN  untermerkmal
                      17                                 NaN  untermerkmal
                      18                                 NaN  untermerkmal
                      19                                 NaN  untermerkmal
                      20                                 NaN  untermerkmal
                      21                                 NaN  untermerkmal
                      22                                 NaN  untermerkmal
                      23                                 NaN  untermerkmal
                      24                                 NaN  untermerkmal
                      25                                 NaN  untermerkmal
                      26                                 NaN  untermerkmal
                      27                                 NaN  untermerkmal
                      28                                 NaN  untermerkmal
                      29                                 NaN  untermerkmal
                      30                                 NaN  untermerkmal
                      31                                 NaN  untermerkmal
                      32                                 NaN  untermerkmal
                      33                                 NaN  untermerkmal
                      34                                 NaN  untermerkmal
                      35                                 NaN  untermerkmal
                      36                                 NaN  untermerkmal
                      37                                 NaN  untermerkmal
                      38                                 NaN  untermerkmal
                      39                                 NaN  untermerkmal
                      40                                 NaN  untermerkmal

                             Merkmalcode Ratenart Ratenzahl not_creditworthy  \
dwh_country_id id     record
1              100654 3               KR        M        36            False
                      4               SG      NaN       NaN            False
                      5               SD      NaN       NaN            False
                      6               SD      NaN       NaN            False
                      7               SD      NaN       NaN            False
                      8               SD      NaN       NaN            False
                      9               SD      NaN       NaN            False
                      10              SD      NaN       NaN            False
                      11              SD      NaN       NaN            False
                      12              SD      NaN       NaN            False
                      13              SD      NaN       NaN            False
                      14              SD      NaN       NaN            False
                      15              SD      NaN       NaN            False
                      16              SD      NaN       NaN            False
                      17              SD      NaN       NaN            False
                      18              SD      NaN       NaN            False
                      19              SD      NaN       NaN            False
                      20              SD      NaN       NaN            False
                      21              SD      NaN       NaN            False
                      22              SD      NaN       NaN            False
                      23              SD      NaN       NaN            False
                      24              SD      NaN       NaN            False
                      25              SD      NaN       NaN            False
                      26              SD      NaN       NaN            False
                      27              SD      NaN       NaN            False
                      28              SD      NaN       NaN            False
                      29              SD      NaN       NaN            False
                      30              SD      NaN       NaN            False
                      31              SD      NaN       NaN            False
                      32              SD      NaN       NaN            False
                      33              SD      NaN       NaN            False
                      34              SD      NaN       NaN            False
                      35              SD      NaN       NaN            False
                      36              SD      NaN       NaN            False
                      37              SD      NaN       NaN            False
                      38              SD      NaN       NaN            False
                      39              SD      NaN       NaN            False
                      40              RI      NaN       NaN            False

                             not_creditworthy_US not_creditworthy_KRMLKWKX_US
dwh_country_id id     record
1              100654 3                    False                        False
                      4                    False                        False
                      5                    False                        False
                      6                    False                        False
                      7                    False                        False
                      8                    False                        False
                      9                    False                        False
                      10                   False                        False
                      11                   False                        False
                      12                   False                        False
                      13                   False                        False
                      14                   False                        False
                      15                   False                        False
                      16                   False                        False
                      17                   False                        False
                      18                   False                        False
                      19                   False                        False
                      20                   False                        False
                      21                   False                        False
                      22                   False                        False
                      23                   False                        False
                      24                   False                        False
                      25                   False                        False
                      26                   False                        False
                      27                   False                        False
                      28                   False                        False
                      29                   False                        False
                      30                   False                        False
                      31                   False                        False
                      32                   False                        False
                      33                   False                        False
                      34                   False                        False
                      35                   False                        False
                      36                   False                        False
                      37                   False                        False
                      38                   False                        False
                      39                   False                        False
                      40                   False                        False

In [ ]:
net_loans_exclude_US_outstanding_user.xs()

## Investigation

In [ ]:
merkmale[merkmale.Merkmal_merkmalOhneGeburtsdatum=='ja'].to_clipboard(encoding='UTF-8')

In [ ]:
identify which

In [348]:
d.head()

,dwh_country_id,id,record,Beschreibung,Betrag,Betrag_waehrung,Datum,Kontonummer,Merkmal_eigenesMerkmal,Merkmal_id,Merkmal_merkmalOhneGeburtsdatum,Merkmal_typ,Merkmalcode,Ratenart,Ratenzahl,not_creditworthy
0,1,99207,10,XX,NaN,NaN,NaN,NaN,NaN,11,NaN,hauptmerkmal,XX,NaN,NaN,False
1,1,99207,11,Rahmenkredit,500,EUR,UNBEFRISTET,NaN,NaN,11,NaN,untermerkmal,RK,NaN,NaN,False
2,1,99207,12,XX,NaN,NaN,NaN,NaN,NaN,12,NaN,hauptmerkmal,XX,NaN,NaN,False
3,1,99207,13,Rahmenkredit,300,EUR,UNBEFRISTET,NaN,NaN,12,NaN,untermerkmal,RK,NaN,NaN,False
4,1,99219,12,XX,NaN,NaN,NaN,NaN,NaN,10,NaN,hauptmerkmal,XX,NaN,NaN,False

In [397]:
map(lambda x:pd.Series(x[1].unique(),name=x[0]),merkmale[
        [u'Beschreibung',  u'Betrag_waehrung','Datum', 
         'Merkmal_eigenesMerkmal','Merkmal_merkmalOhneGeburtsdatum',
         'Merkmal_typ',
         u'Merkmalcode',
       u'Ratenart', u'Ratenzahl' ]].iteritems())

[0                                      Abwicklungskonto
 1                                                 Saldo
 2                                     titulierter Saldo
 3     Gläubigerbefriedigung ausgeschlossen/nicht nac...
 4                                                Kredit
 5                                              Erledigt
 6                                             Girokonto
 7                                           Kreditkarte
 8                          Kreditkarte mit Kreditrahmen
 9                                    Anfrage zum Kredit
 10    Schuldner ist seiner Pflicht zur Abgabe der Ve...
 11               grundpfandrechtlich gesicherter Kredit
 12                               Anfrage zur Bürgschaft
 13                                              Leasing
 14    Investitionskredit (für Selbständige und Klein...
 15                                                   XX
 16                                         Rahmenkredit
 17                          Mitverpflichtung für Kredit
 18              Bürgschaft für Kredit mit Endfälligkeit
 19                                 Kredit zum Girokonto
 20                             Kredit mit Endfälligkeit
 21    grundpfandrechtlich gesicherter Kredit (ohne B...
 22                      Saldo nach Gesamtfälligstellung
 23    Übergabe an ein Inkassounternehmen/eine intern...
 24    Gläubigerbefriedigung nach dem Inhalt des Verm...
 25    Betriebsmittelkreditlinie (für Selbständige un...
 26                                Anfrage zum Girokonto
 27    Anfrage Betriebsmittelkreditlinie (für Selbstä...
 28    uneinbringlicher Saldo / Einzug unwirtschaftli...
 29                          Restschuldbefreiung erteilt
 30                                    Forderungsverkauf
 31    Nichtabgabe der Vermögensauskunft oder Haftbefehl
 32                                Widerspruch zum Saldo
 33                              Anfrage zur Kreditkarte
 34    uneinbringliche titulierte Forderung / Einzug ...
 35    Gläubigerbefriedigung nicht innerhalb eines Mo...
 36    Bürgschaft für Kredit oder Mobilien-Leasing/Mi...
 37                      Restschuldbefreiung angekündigt
 38                            Anfrage Kreditkonditionen
 39                          Insolvenzverfahren eröffnet
 40                                  Anfrage zum Leasing
 41    Rückgabe vom Inkassounternehmen/von einer inte...
 42    Mitverpflichtung für grundpfandrechtlich gesic...
 43                        Insolvenzverfahren abgewiesen
 44                 Anfrage Kreditkarte mit Kreditrahmen
 45                                       Saldovergleich
 46                Investitionskredit (für Freiberufler)
 47         Betriebsmittelkreditlinie (für Freiberufler)
 48           Persönliche Bürgschaft für ein Unternehmen
 49                          Restschuldbefreiung versagt
 50           Bauspardarlehn mit Verpflichtungserklärung
 51    Anfrage zum grundpfandrechtlich gesicherten Kr...
 52                                     Forward-Darlehen
 53    Anfrage persönliche Bürgschaft für ein Unterne...
 54    Anfrage Betriebsmittelkreditlinie (für Freiber...
 55        Mitverpflichtung für Kredit mit Endfälligkeit
 56                        Insolvenzverfahren aufgehoben
 57    Anfrage Investitionskredit (für Selbständige u...
 Name: Beschreibung, dtype: object, 0    NaN
 1    EUR
 Name: Betrag_waehrung, dtype: object, 0       02.12.2006
 1       31.03.2011
 2       30.06.2011
 3       30.09.2011
 4       31.03.2012
 5       30.09.2012
 6       31.01.2013
 7       28.02.2013
 8       31.03.2013
 9       30.04.2013
 10      31.05.2013
 11      30.06.2013
 12      31.07.2013
 13      31.08.2013
 14      30.09.2013
 15      31.10.2013
 16      30.11.2013
 17      31.12.2013
 18      31.01.2014
 19      28.02.2014
 20      31.03.2014
 21      30.04.2014
 22      31.05.2014
 23      30.06.2014
 24      31.07.2014
 25      31.08.2014
 26      30.09.2014
 27      31.10.2014
 28      30.11.2014
 29      31.12.2014
            ...
 3613    06.04.2006
 3614    02.11.2005
 3615    29.01.2007
 3616    24.01.2010
 3617    09.10.2003
 3618    11.01.1995
 3619    31.08.2023
 3620    09.07.1996
 3621    02.10.1998
 3622    11.06.2002
 3623    15.09.2017
 3624    04.09.2007
 3625    30.09.1994
 3626    15.06.2004
 3627    20.10.2002
 3628    16.07.2004
 3629    28.02.2019
 3630    31.12.2017
 3631    23.02.1994
 3632    10.09.2006
 3633    27.11.2011
 3634    06.01.2013
 3635    06.08.2004
 3636    30.09.2027
 3637    29.05.2001
 3638    26.09.2002
 3639    28.08.2002
 3640    19.06.2000
 3641    26.03.2002
 3642    28.09.2004
 Name: Datum, dtype: object, 0    NaN
 1     ja
 Name: Merkmal_eigenesMerkmal, dtype: object, 0    NaN
 1     ja
 Name: Merkmal_merkmalOhneGeburtsdatum, dtype: object, 0          hauptmerkmal
 1          untermerkmal
 2         einzelmerkmal
 3    erledigungsmerkmal
 Name: Merkmal_typ, dtype: object, 0     KW
 1     SD
 2     SE
 3     EV
 4     KR
 5     ER
 6     GI
 7     CC
 8     CR
 9     AK
 10    S1
 11    HP
 12    AB
 13    ML
 14    K4
 15    XX
 16    RK
 17    MA
 18    BX
 19    KG
 20    KX
 21    HY
 22    SG
 23    UI
 24    S2
 25    K2
 26    AG
 27    A2
 28    US
 29    RB
 30    SZ
 31    HB
 32    WS
 33    AC
 34    UF
 35    S3
 36    BU
 37    RA
 38    KK
 39    IE
 40    AL
 41    RI
 42    MY
 43    IA
 44    AR
 45    SV
 46    K3
 47    K1
 48    K7
 49    RV
 50    HN
 51    AW
 52    HF
 53    A7
 54    A1
 55    MX
 56    IS
 57    A4
 Name: Merkmalcode, dtype: object, 0    NaN
 1      M
 2      J
 Name: Ratenart, dtype: object, 0      NaN
 1       48
 2       84
 3       69
 4       36
 5       60
 6       49
 7       24
 8       15
 9       72
 10      12
 11     120
 12      78
 13      59
 14      54
 15      23
 16      57
 17      42
 18      29
 19       6
 20      79
 21      37
 22      13
 23      73
 24      62
 25      96
 26       8
 27      19
 28      83
 29      10
       ...
 127    148
 128    134
 129     43
 130    124
 131    142
 132     67
 133    114
 134    130
 135    136
 136      1
 137    157
 138      7
 139    178
 140    231
 141    132
 142    122
 143     76
 144    129
 145    179
 146    236
 147    118
 148    167
 149    150
 150    112
 151    101
 152    139
 153    632
 154    141
 155    181
 156    355
 Name: Ratenzahl, dtype: object]

In [293]:
merkmale.Merkmal_typ.unique()

array(['hauptmerkmal', 'untermerkmal', 'einzelmerkmal',
       'erledigungsmerkmal'], dtype=object)

In [219]:
scoring_ind['response_x'][(scoring_ind['response_root'].isnull())].unique()

array([u'ANONYMOUS_REQUEST', u'deleted_user'], dtype=object)

In [258]:
merkmale.to_clipboard()

In [214]:
scoring_ind.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4305 entries, (1, 99213) to (1, 100774)
Data columns (total 18 columns):
fk_user               4305 non-null int64
request               4305 non-null object
response              4305 non-null object
provider_name         4305 non-null object
is_failed             4305 non-null int64
ignore_for_scoring    4305 non-null int64
score                 4305 non-null object
data_accessible_by    4305 non-null float64
created_at            4305 non-null datetime64[ns]
updated_at            4305 non-null datetime64[ns]
dwh_created           4305 non-null datetime64[ns]
dwh_last_modified     4305 non-null datetime64[ns]
dwh_row_hash          4305 non-null object
is_latest             4305 non-null int64
response_chk          4305 non-null object
response_x            4305 non-null object
response_len          4305 non-null int64
response_root         3707 non-null object
dtypes: datetime64[ns](4), float64(1), int64(5), object(8)
memory usage: 651.7+ KB

In [205]:
merkmale.iloc[3]

,Beschreibung,Betrag,Betrag_waehrung,Datum,Merkmal_typ,Merkmalcode,Merkmal_id
0,Girokonto,NaN,NaN,NaN,hauptmerkmal,GI,1
1,Abwicklungskonto,NaN,NaN,06.05.2013,hauptmerkmal,KW,2
2,Saldo,135,EUR,06.05.2013,untermerkmal,SD,2
3,Saldo,153,EUR,28.10.2013,untermerkmal,SD,2

# Web Requests

In [13]:
payload={'username':'sean.violante@lendico.de',
         'password': '7642lottA'}

with requests.Session() as s:
    p = s.post('https://admin.lendico.de/admin/', data=payload, auth=('lendico_beta', 'p2pLend4every1'))
    # print the html returned or something more intelligent to see if it's a successful login page.
    print p.text
    print "HELLO"
    # An authorised request.
    r = s.get('https://admin.lendico.de/admin/loan-request/detail/123290',auth=('lendico_beta', 'p2pLend4every1'))
    print r.text

<!DOCTYPE html>
<html>
<head><script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(e,n,t){function r(t){if(!n[t]){var o=n[t]={exports:{}};e[t][0].call(o.exports,function(n){var o=e[t][1][n];return r(o?o:n)},o,o.exports)}return n[t].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<t.length;o++)r(t[o]);return r}({QJf3ax:[function(e,n){function t(e){function n(n,t,a){e&&e(n,t,a),a||(a={});for(var u=c(n),f=u.length,s=i(a,o,r),p=0;f>p;p++)u[p].apply(s,t);return s}function a(e,n){f[e]=c(e).concat(n)}function c(e){return f[e]||[]}function u(){return t(n)}var f={};return{on:a,emit:n,create:u,listeners:c,_events:f}}function r(){return{}}var o="nr@context",i=e("gos");n.exports=t()},{gos:"7eSDFh"}],ee:[function(e,n){n.exports=e("QJf3ax")},{}],3:[function(e,n){function t(e){return function(){r(e,[(new Date).getTime()].concat(i(arguments)))}}var r=e("handle"),o=e(1),i=e(2);"undefined"==typeof window.newrelic&&(newrelic=window.NREUM);var a=["setPageViewName","addPageAction","setCustomAttribute","finished","addToTrace","inlineHit","noticeError"];o(a,function(e,n){window.NREUM[n]=t("api-"+n)}),n.exports=window.NREUM},{1:12,2:13,handle:"D5DuLP"}],"7eSDFh":[function(e,n){function t(e,n,t){if(r.call(e,n))return e[n];var o=t();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(e,n,{value:o,writable:!0,enumerable:!1}),o}catch(i){}return e[n]=o,o}var r=Object.prototype.hasOwnProperty;n.exports=t},{}],gos:[function(e,n){n.exports=e("7eSDFh")},{}],handle:[function(e,n){n.exports=e("D5DuLP")},{}],D5DuLP:[function(e,n){function t(e,n,t){return r.listeners(e).length?r.emit(e,n,t):(o[e]||(o[e]=[]),void o[e].push(n))}var r=e("ee").create(),o={};n.exports=t,t.ee=r,r.q=o},{ee:"QJf3ax"}],id:[function(e,n){n.exports=e("XL7HBI")},{}],XL7HBI:[function(e,n){function t(e){var n=typeof e;return!e||"object"!==n&&"function"!==n?-1:e===window?0:i(e,o,function(){return r++})}var r=1,o="nr@id",i=e("gos");n.exports=t},{gos:"7eSDFh"}],G9z0Bl:[function(e,n){function t(){var e=d.info=NREUM.info,n=f.getElementsByTagName("script")[0];if(e&&e.licenseKey&&e.applicationID&&n){c(p,function(n,t){n in e||(e[n]=t)});var t="https"===s.split(":")[0]||e.sslForHttp;d.proto=t?"https://":"http://",a("mark",["onload",i()]);var r=f.createElement("script");r.src=d.proto+e.agent,n.parentNode.insertBefore(r,n)}}function r(){"complete"===f.readyState&&o()}function o(){a("mark",["domContent",i()])}function i(){return(new Date).getTime()}var a=e("handle"),c=e(1),u=(e(2),window),f=u.document,s=(""+location).split("?")[0],p={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-632.min.js"},d=n.exports={offset:i(),origin:s,features:{}};f.addEventListener?(f.addEventListener("DOMContentLoaded",o,!1),u.addEventListener("load",t,!1)):(f.attachEvent("onreadystatechange",r),u.attachEvent("onload",t)),a("mark",["firstbyte",i()])},{1:12,2:3,handle:"D5DuLP"}],loader:[function(e,n){n.exports=e("G9z0Bl")},{}],12:[function(e,n){function t(e,n){var t=[],o="",i=0;for(o in e)r.call(e,o)&&(t[i]=n(o,e[o]),i+=1);return t}var r=Object.prototype.hasOwnProperty;n.exports=t},{}],13:[function(e,n){function t(e,n,t){n||(n=0),"undefined"==typeof t&&(t=e?e.length:0);for(var r=-1,o=t-n||0,i=Array(0>o?0:o);++r<o;)i[r]=e[n+r];return i}n.exports=t},{}]},{},["G9z0Bl"]);</script>
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
                        <link rel="stylesheet" type="text/css" href="https://www.lendico.de/static/css/backend.css?fff6a0f74d6a5a0d8beffbb8d13ed0fb" />

<script>
    var trackingConfig = trackingConfig || {};
    trackingConfig['gtmid'] = 'GTM-WG668G';

    var dataLayer = dataLayer || [];
    dataLayer.push.apply(dataLayer, [{"pageType":"admin.security.login","customerId":"","visitorId":"55a616f4bbb1c3.69027074","customerType":"anonymous","accountType":"none","pageStartLoadTimestamp":"1436948212","sessionStart_counter":"1436948212.00000","trackingBag":[]}]);
</script></head>
<body id="security_login" data-controller="BaseController" class="user-guest">
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
        </div>
    </div><!-- /navbar-inner -->
</div>

<div class="container">
        <div class="hero-unit">
        <h2>Restricted Area</h2>
        <p>Please login with your email and password to access this area</p>
                <p>
            <form action="/admin/login_check" method="post" class="form-inline">
                <div class="input-prepend">
                    <span class="add-on">Username</span>
                    <input type="text" placeholder="admin@email.com" id="username" name="_username" value="" class="input-xlarge" />
                </div>
                <div class="input-prepend">
                    <span class="add-on">Password</span>
                    <input type="password" id="password" name="_password" />
                </div>
                <input type="submit" name="login" class="btn btn-info" value="Login"/>
            </form>
        </p>
    </div>
</div> <!-- /container -->


<script>var cfg = {"numberFormat":{"options":{"decimalSeparator":",","thousandsSeparator":".","currencySymbol":"\u20ac","currency":"EUR","currencyFormat":"#price# #currency#"}},"dateFormat":{"options":"dd.MM.yyyy"},"bid":{"options":{"unsecure_personal":{"multiple":"25,00"},"secure_personal":{"multiple":"25,00"},"unsecure_sme":{"multiple":"100,00"},"secure_sme":{"multiple":"100,00"}}},"trackingTagManagerFormTracking":{"el":"form","name":"trackingTagManagerFormTracking"},"trackingTagManagerNoBounce":{"el":"document","name":"trackingTagManagerNoBounce"}}</script><script src="http://code.jquery.com/jquery.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
                <script src="https://www.lendico.de/static/js/backend.js" ></script>

<script type="text/javascript">
    var _gaq = _gaq || [];

    _gaq.push(['_setAccount', 'UA-44078405-3']);
    _gaq.push (['_gat._anonymizeIp']);
    _gaq.push(['_setAllowAnchor', true]);


            _gaq.push(['_setCustomVar', parseInt(1), 'visitorId', '55a616f4bbb1c3.69027074', parseInt(1)]);
            _gaq.push(['_setCustomVar', parseInt(3), 'sessionStart_counter', '1436948212.00000', parseInt(2)]);
            _gaq.push(['_setCustomVar', parseInt(5), 'pageType', 'admin.security.login', parseInt(3)]);
            _gaq.push(['_setCustomVar', parseInt(7), 'systemSessionStart', '1436948212', parseInt(2)]);
            _gaq.push(['_setCustomVar', parseInt(8), 'system_pageload_time', '1436948212', parseInt(3)]);

    _gaq.push(['_trackPageview', trackingConfig.pagetype + '/#' + window.location.pathname + window.location.search]);

    (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
    })();
</script>
<script type="text/javascript">
    (function (w, d, s, l, i) {
	function loadGTM() {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
	}
        if (w.addEventListener) {
            w.addEventListener("load", loadGTM, false);
        } else if(w.attachEvent){
            w.attachEvent("onload", loadGTM);
        }

    })(window, document, 'script', 'dataLayer', trackingConfig.gtmid);
</script>
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WG668G&amp;0%5BpageType%5D=admin.security.login&amp;0%5BcustomerId%5D=&amp;0%5BvisitorId%5D=55a616f4bbb1c3.69027074&amp;0%5BcustomerType%5D=anonymous&amp;0%5BaccountType%5D=none&amp;0%5BpageStartLoadTimestamp%5D=1436948212&amp;0%5BsessionStart_counter%5D=1436948212.00000"
            height="0" width="0" style="display:none;visibility:hidden;"></iframe>
</noscript>
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"cb1904debb","applicationID":"2722258","transactionName":"MlVXZxBRDUNRB0NQWwsfdkYRRAxdHyNybRsEVFhaDB4QVVMRRVBAHB5ZXAVZDQ==","queueTime":0,"applicationTime":58,"ttGuid":"","agentToken":"","atts":"HhJUEVhLHk0=","errorBeacon":"bam.nr-data.net","agent":"js-agent.newrelic.com\/nr-632.min.js"}</script></body>
</html>

HELLO
<!DOCTYPE html>
<html>
<head><script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(e,n,t){function r(t){if(!n[t]){var o=n[t]={exports:{}};e[t][0].call(o.exports,function(n){var o=e[t][1][n];return r(o?o:n)},o,o.exports)}return n[t].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<t.length;o++)r(t[o]);return r}({QJf3ax:[function(e,n){function t(e){function n(n,t,a){e&&e(n,t,a),a||(a={});for(var u=c(n),f=u.length,s=i(a,o,r),p=0;f>p;p++)u[p].apply(s,t);return s}function a(e,n){f[e]=c(e).concat(n)}function c(e){return f[e]||[]}function u(){return t(n)}var f={};return{on:a,emit:n,create:u,listeners:c,_events:f}}function r(){return{}}var o="nr@context",i=e("gos");n.exports=t()},{gos:"7eSDFh"}],ee:[function(e,n){n.exports=e("QJf3ax")},{}],3:[function(e,n){function t(e){return function(){r(e,[(new Date).getTime()].concat(i(arguments)))}}var r=e("handle"),o=e(1),i=e(2);"undefined"==typeof window.newrelic&&(newrelic=window.NREUM);var a=["setPageViewName","addPageAction","setCustomAttribute","finished","addToTrace","inlineHit","noticeError"];o(a,function(e,n){window.NREUM[n]=t("api-"+n)}),n.exports=window.NREUM},{1:12,2:13,handle:"D5DuLP"}],"7eSDFh":[function(e,n){function t(e,n,t){if(r.call(e,n))return e[n];var o=t();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(e,n,{value:o,writable:!0,enumerable:!1}),o}catch(i){}return e[n]=o,o}var r=Object.prototype.hasOwnProperty;n.exports=t},{}],gos:[function(e,n){n.exports=e("7eSDFh")},{}],handle:[function(e,n){n.exports=e("D5DuLP")},{}],D5DuLP:[function(e,n){function t(e,n,t){return r.listeners(e).length?r.emit(e,n,t):(o[e]||(o[e]=[]),void o[e].push(n))}var r=e("ee").create(),o={};n.exports=t,t.ee=r,r.q=o},{ee:"QJf3ax"}],id:[function(e,n){n.exports=e("XL7HBI")},{}],XL7HBI:[function(e,n){function t(e){var n=typeof e;return!e||"object"!==n&&"function"!==n?-1:e===window?0:i(e,o,function(){return r++})}var r=1,o="nr@id",i=e("gos");n.exports=t},{gos:"7eSDFh"}],G9z0Bl:[function(e,n){function t(){var e=d.info=NREUM.info,n=f.getElementsByTagName("script")[0];if(e&&e.licenseKey&&e.applicationID&&n){c(p,function(n,t){n in e||(e[n]=t)});var t="https"===s.split(":")[0]||e.sslForHttp;d.proto=t?"https://":"http://",a("mark",["onload",i()]);var r=f.createElement("script");r.src=d.proto+e.agent,n.parentNode.insertBefore(r,n)}}function r(){"complete"===f.readyState&&o()}function o(){a("mark",["domContent",i()])}function i(){return(new Date).getTime()}var a=e("handle"),c=e(1),u=(e(2),window),f=u.document,s=(""+location).split("?")[0],p={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-632.min.js"},d=n.exports={offset:i(),origin:s,features:{}};f.addEventListener?(f.addEventListener("DOMContentLoaded",o,!1),u.addEventListener("load",t,!1)):(f.attachEvent("onreadystatechange",r),u.attachEvent("onload",t)),a("mark",["firstbyte",i()])},{1:12,2:3,handle:"D5DuLP"}],loader:[function(e,n){n.exports=e("G9z0Bl")},{}],12:[function(e,n){function t(e,n){var t=[],o="",i=0;for(o in e)r.call(e,o)&&(t[i]=n(o,e[o]),i+=1);return t}var r=Object.prototype.hasOwnProperty;n.exports=t},{}],13:[function(e,n){function t(e,n,t){n||(n=0),"undefined"==typeof t&&(t=e?e.length:0);for(var r=-1,o=t-n||0,i=Array(0>o?0:o);++r<o;)i[r]=e[n+r];return i}n.exports=t},{}]},{},["G9z0Bl"]);</script>
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
                        <link rel="stylesheet" type="text/css" href="https://www.lendico.de/static/css/backend.css?fff6a0f74d6a5a0d8beffbb8d13ed0fb" />

<script>
    var trackingConfig = trackingConfig || {};
    trackingConfig['gtmid'] = 'GTM-WG668G';

    var dataLayer = dataLayer || [];
    dataLayer.push.apply(dataLayer, [{"pageType":"admin.security.login","customerId":"","visitorId":"55a616f4bbb1c3.69027074","customerType":"anonymous","accountType":"none","pageStartLoadTimestamp":"1436948213","sessionStart_counter":"1436948212.00000","trackingBag":[]}]);
</script></head>
<body id="security_login" data-controller="BaseController" class="user-guest">
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
        </div>
    </div><!-- /navbar-inner -->
</div>

<div class="container">
        <div class="hero-unit">
        <h2>Restricted Area</h2>
        <p>Please login with your email and password to access this area</p>
                <p>
            <form action="/admin/login_check" method="post" class="form-inline">
                <div class="input-prepend">
                    <span class="add-on">Username</span>
                    <input type="text" placeholder="admin@email.com" id="username" name="_username" value="" class="input-xlarge" />
                </div>
                <div class="input-prepend">
                    <span class="add-on">Password</span>
                    <input type="password" id="password" name="_password" />
                </div>
                <input type="submit" name="login" class="btn btn-info" value="Login"/>
            </form>
        </p>
    </div>
</div> <!-- /container -->


<script>var cfg = {"numberFormat":{"options":{"decimalSeparator":",","thousandsSeparator":".","currencySymbol":"\u20ac","currency":"EUR","currencyFormat":"#price# #currency#"}},"dateFormat":{"options":"dd.MM.yyyy"},"bid":{"options":{"unsecure_personal":{"multiple":"25,00"},"secure_personal":{"multiple":"25,00"},"unsecure_sme":{"multiple":"100,00"},"secure_sme":{"multiple":"100,00"}}},"trackingTagManagerFormTracking":{"el":"form","name":"trackingTagManagerFormTracking"},"trackingTagManagerNoBounce":{"el":"document","name":"trackingTagManagerNoBounce"}}</script><script src="http://code.jquery.com/jquery.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
                <script src="https://www.lendico.de/static/js/backend.js" ></script>

<script type="text/javascript">
    var _gaq = _gaq || [];

    _gaq.push(['_setAccount', 'UA-44078405-3']);
    _gaq.push (['_gat._anonymizeIp']);
    _gaq.push(['_setAllowAnchor', true]);


            _gaq.push(['_setCustomVar', parseInt(1), 'visitorId', '55a616f4bbb1c3.69027074', parseInt(1)]);
            _gaq.push(['_setCustomVar', parseInt(3), 'sessionStart_counter', '1436948212.00000', parseInt(2)]);
            _gaq.push(['_setCustomVar', parseInt(5), 'pageType', 'admin.security.login', parseInt(3)]);
            _gaq.push(['_setCustomVar', parseInt(7), 'systemSessionStart', '1436948212', parseInt(2)]);
            _gaq.push(['_setCustomVar', parseInt(8), 'system_pageload_time', '1436948213', parseInt(3)]);

    _gaq.push(['_trackPageview', trackingConfig.pagetype + '/#' + window.location.pathname + window.location.search]);

    (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
    })();
</script>
<script type="text/javascript">
    (function (w, d, s, l, i) {
	function loadGTM() {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
	}
        if (w.addEventListener) {
            w.addEventListener("load", loadGTM, false);
        } else if(w.attachEvent){
            w.attachEvent("onload", loadGTM);
        }

    })(window, document, 'script', 'dataLayer', trackingConfig.gtmid);
</script>
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WG668G&amp;0%5BpageType%5D=admin.security.login&amp;0%5BcustomerId%5D=&amp;0%5BvisitorId%5D=55a616f4bbb1c3.69027074&amp;0%5BcustomerType%5D=anonymous&amp;0%5BaccountType%5D=none&amp;0%5BpageStartLoadTimestamp%5D=1436948213&amp;0%5BsessionStart_counter%5D=1436948212.00000"
            height="0" width="0" style="display:none;visibility:hidden;"></iframe>
</noscript>
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"cb1904debb","applicationID":"2722258","transactionName":"MlVXZxBRDUNRB0NQWwsfdkYRRAxdHyNybRsEVFhaDB4QVVMRRVBAHB5ZXAVZDQ==","queueTime":0,"applicationTime":59,"ttGuid":"","agentToken":"","atts":"HhJUEVhLHk0=","errorBeacon":"bam.nr-data.net","agent":"js-agent.newrelic.com\/nr-632.min.js"}</script></body>
</html>